@font-face {
    font-family:'circular-light';
    src: url(fonts/Circular-light.ttf);
}
@font-face {
    font-family: 'circular-bold';
    src: url(fonts/Circular-bold.ttf);
}
@font-face {
    font-family: 'circular-medium';
    src: url(fonts/Circular-medium.ttf);

}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 
}
body{
    width:100vw;
   /* border:5px solid red;*/
    background-image: linear-gradient(black 22%, white 22%);
    overflow-x: hidden;
}
html{
   width: 100vw;
}
.header {
    background-color: black;
    width:100vw;
    /*height:200px;*/
    /*border:1px solid blue;*/
}
.logo {
    width:80px;
    /*border:1px solid red*/
    margin-top:2px;
}


.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /*border:5px solid green;*/
    width:calc(100%-160px);
    height:11vh;
    margin:0 80px 0 80px;
    color:white;
}
.mid-nav {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    /*border:1px solid red;*/
    width:30vw;
    margin-left:70px;

}
.mid-nav a{
    text-decoration: none;
    color:white;
    font-family: circular-light;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.right-nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    /*border:2px solid red;*/
    /*gap:1rem;*/
}
.right-nav a {
    color:white;
    text-decoration: none;
    font-family:circular-light;
    font-size:14px;
    line-height: 18px;
    /*border:1px solid red;*/
}


.globe {
    display:flex;
    justify-content:space-between;
    align-items: center;
    /*border:2px solid yellow;*/
    width:11vw;
    
}
#glo{
   /* font-size: 14px;*/
    /*border:1px solid red;*/
    margin-right: 1rem;
}
.custom-icon {
    display: flex;
    background:white;
    width:77px;
    height:42px;
    padding:3px;
    border-radius:21px;
    align-items: center;
    justify-content:space-around;
    /*border:1px solid red;*/
}
.custom-icon a {
    color:#717171;
    padding-left: 6px;
}
#user{
    margin-left:3px;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom:-8px;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left:49%;
    right: 49%;
  }
  

  .under{
      position:relative;
  }
  .under::after{
      content:"";
      background: white;
      width:15px;
      height:2px;
      position:absolute;
      left:45%;
      bottom:-8px;
      border-radius: 2px;
    

  }
  /* end of navbar css*/
  /*search-bar css*/
  
.search-bar {
    width:60%;
    background:white;
    border-radius:35px;
    /*border:2px solid red;*/
    margin:auto;
    padding-bottom:1px;
    
}
#pixel-p{
    margin-right:8px;
    margin-left: 20px;
    width:28%;
    

}
form {
    display:flex;
    align-items: center;
    justify-content:space-between;
}
input{
    background: transparent;
    border:0;
    display: block;
}

  
#lo{
    flex: 1;
    padding-left: 7px;
}
.search-col{
    /*border:2px solid blue;*/
    padding:7px;
    width:15%;
    margin-right: 14px;
    margin-bottom: 9px;
    margin-top:6px;
    /*border:2px solid red;*/

}
.search-col:hover{
    background-color: lightgray;
    border-radius:30px;
   
}
#pixel-2{
    margin-right: 0;
    margin-left: 0;
    padding-left:12px;
}
#pixel-3{
    padding-left:10px;

}
#pixel-4{
    padding-left: 14px;
    margin-left: -40px;

    
}
.search {
    width:50px;
    height:50px;
    border-radius: 50%;
    background:#ff385c;
    border:2px solid rgb(22, 21, 21);
    margin-left:9px;
    margin-right:9px;
    border:0;
    

}
#magni-icon{
    color:#fff;
    margin-left:3px;
}


/*button i {
    font-size: 12px;
    color:white;
}
    */

label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    font-family: circular-light;
}
input::placeholder {
    font-size:12px;
}

/* psudo element */
#lo{
    position:relative;
    
}

#lo::after{
      content:"";
      background:lightgrey;
      width:1px;
      height:25px;
      position:absolute;
      right:-300%;
      border-radius: 2px;
      bottom:-12px;

}
#pes2{
    position: relative;
}

#pes2::after{
    content:"";
    background:lightgrey;
    width:1px;
    height:25px;
    position:absolute;
    right:-190%;
    border-radius: 2px;
    bottom:-12px;


}
#pes3{
    position: relative;
}

#pes3::after{
    content:"";
    background:lightgrey;
    width:1px;
    height:25px;
    position:absolute;
    right:-150%;
    border-radius: 2px;
    bottom:-12px;
}
/*pink box */
.pink-box{
    display:flex;
    width:calc(100% - 160px);
    background:#ff385c;
    height:52vh;
    margin:0 80px 0 80px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top:65px;
}
.pink-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border:1px solid white;*/
    font-size: 48px;
    line-height: 54px;
    font-family: circular-bold;
    color:#f7f7f7;

    
}
.pink-text button{
    width:107px;
    height:36px;
    background: transparent;
    color:white;
    border-radius: 7px;
    color:white;
    font-size: 14px;
    font-family: circular-light;
    border:1px solid white;
    margin-top: 1rem;
    padding:0.5rem;
    font-weight: 400;
}
  
/* hero image*/

.content-heroimg{
    position:relative;
    width:calc(100% - 160px);
    margin:0 80px 0 80px;
    background-image:url(images/hero-House.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    /*border:2px solid blue;*/
    height:78vh;
    margin-top: 90px;
    margin-bottom: 45px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 15px;
}
.text-block{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom:70px;
    
}
.text-block h1{
    /*border:1px solid #fff;*/
    color:white;
    font-family: circular-bold;
    font-size: 48px;
    line-height: 54px;


    
}
.text-block button{
    width: 8rem;
    height:3rem;
    border:1px solid #fff;
    background:white;
    margin-top:1rem;
    font-size: 18px;
    line-height: 28px;
    font-family:circular-light;
    border-radius:25px;
    color:#bc1a6e;
    font-weight:bold;
   /* color: transparent;
    background: linear-gradient(
    90deg,
    #6F019C 0%,
    #C6017E 135.12%
  
  background-clip: text;);*/
}

.two-colored{
    display: flex;
    width:100%;
    border:2px solid blue;
    flex-direction: column;
    margin-top:30px;
}
.black{
    width:100%;
    height:50vh;
    background: black;

}
.white{
    width:100%;
    height:50vh;
    background: white;
}
/* 4 image inspiration*/

.picture-inspir{
    width:100%;
    height:38vw;
    margin-top:90px;
   /* border:3px solid black;*/
    

}
.title-inspir h3 {
    color:black;
    font-size: 42px;
    line-height: 47px;
    margin-bottom:2rem;
    padding-left: 5rem;
    background: white;
    font-family: circular-light;
    
}

.flex-container {
    display:flex;
    margin: 0 80px 0 80px;
    align-items: center;
    width:calc(100% - 160px);
    justify-content:space-evenly;
    gap:20px;
    cursor: pointer;
    
    
}
.flex-container .item {
    width:25%;
    height:27vw;
    background: darkgray;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
} 
     

.item img {
    width:100%;
    height:50%;
    border-radius: 15px 15px 0 0;

}
.item .box{
    width:100%;
    height:50%;
    border-radius: 0 0 15px 15px;
    color:white;
    padding:10px;
    
}
.item .box p {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: circular-bold;
}
.item .box a {
    text-decoration: none;
    font-size:20px;
    line-height:26px;
    color: white;
    font-family: circular-light;
    
}
#kilotext{
    font-size:17px;
    font-family: circular-light;
    line-height:15px;
}
 #pink  {

    background: #BC1A6E;
    
}

#red {
    background:#CC2D4A;
}
#orange {
    background: #D93B30;
}
#pinkish {
    background: #DE3151;
}


 

/* -------------------------  Discover Airbnb Experiences---------------------------------  */


#picture-container{
    margin-top:96px;
    width: 1366px;
    max-width: 100%;
    height:auto;
    padding-top:0;
    gap: 24px;
  

}

#title {
    font-family: 'circular-light';
    font-size:33px;
    font-weight: 600;
    line-height:47px;
    letter-spacing:-0.02em;
    line-height: 37px;
    padding: 0 50px 48px 37px;
    margin-bottom:-88px;
    margin-left: 40px;
    letter-spacing:-0.02em;
  
  
  
}

.experience_picture_class {
    display:flex;
    justify-content:space-between;
    margin: 80px;

}

.img-container{
    
    display: flex;
    gap:24px;
    background-position:center;
    background-size: cover;
    padding: 8rem;
    flex-direction: column;
    padding-bottom: 27.8rem;
    padding-left:150px;
    padding-right: 200px;
    border-radius:13px;
    max-width: 50%;

}

.discover-text {
    font-family: 'circular-bold';
    width: 120%;
    margin:-95px;
    font-size: 42px;
    font-weight:600;
    letter-spacing:0em;
    line-height:46px;
    color: white;
   
}
.discover-text-1{
    font-family: 'circular-bold';
    width: 120%;
    margin:-95px;
    font-size: 42px;
    font-weight:600;
    letter-spacing:0em;
    line-height:46px;
    color: white;
}


#left-picture {
    background-image:url(images/experience1.jpg) ;
    margin-left: 1px;
    margin-right: 13px;
    background-size:cover;
    width:max-content;
    

}

#right-picture{
    background-Image: url(images/experience2.jpg);
    background-size:cover;
    width:max-content;
    margin-right:-1px;
    margin-left: 12px;

}

.picture-on {
    font-family: 'circular-bold';
    margin:-105px;
    margin-top: 100px;
    background: white;
    background-position: left;
    border-radius: 8px;
    color: black;
    max-width: fit-content;

}

.picture-on:hover {
    background-color:#ebebeb;
}

.picture-on > span {
    display:inline-block;
    font-size:18px;
    font-weight: 100;
    line-height:20px;
    border-radius:8px;
    letter-spacing:0.5px;
    padding:15px 20px 15px  20px;
    color:black;
   

}



/*-----------------------------Shop Airbnbgift cards------------------------------*/
.gift-container{
    width:100vw ;
    height:auto;
    display:flex;
   /* margin: 0 80px 0 80px;
     border:5px solid blue; */
    align-items:flex-start;
    justify-content:space-between;
    overflow: hidden;

   
}
.txt-gift{

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    font-family: circular-light;
    font-size:41px;
    line-height:46px;
    font-weight:600;
    letter-spacing: -0.02em;
    flex:1;
    width: 229.37px;
    height:92px;
    margin-left:80px;
    /* border:4px solid rebeccapurple; */
}
.gift-image{
    background-image:url(images/giftcards.jpg) ;
    background-repeat: no-repeat;
    background-size:980px 350px;
    flex: 3;
    height:50vh;
    /* border:5px solid red; */
    margin-left: 106px;
    
}
.gift-image img{
    width: 960px;
    height:488px;

}
button{
 
    width: 133.2px;
    height:48px;
     font-size:16px;
     line-height:20px;
     font-weight:400;
     text-align: center;
     background-color: #222222;
     color: white;
     cursor: pointer;
     border-radius:8px;
     padding: 8px 16px 8px 16px;
     margin-top:16px;
     top:26%;
     left:80px;
    
    

}
/*-----------------------question--------------------------*/
.main-1{
    
    background-image: url(images/questions.jpg);
    background-size: cover;  
    overflow: hidden;
    color: rgb(255, 254, 254);
    height: auto;
    width: 100vw;
    padding: 80px;
    display: block;
    
    }
     .txt2{
        font-family: 'circular-bold';
        font-size: 74px;
        font-weight: 600;
        letter-spacing: -0.02em;
        line-height: 77px;
        white-space: pre-line;
        word-spacing: 0px;
        color: #fff;
        height: 231px;
        width: 341.812px;
        display: block;
        margin-top: -140px;
    
    }
    .main-2{
    display: block;
    height: 48px;
    width: 1191px;
    box-sizing: border-box;
    margin-top: 380px;
    }
     .button2{
    text-align:center;
    background-color: #fff;
    color: #000;
    display: block;
    cursor: pointer;
    width: 170px;
    height: 48px;
    border-radius: 8px;
    }
    .button-txt{
    color: #080707; 
    font-family:'circular-bold';
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
    margin: 0px -81px 0px -85px;
    padding: 13px 0px;
    width: 342px;
    display: block;
    
    }
    .button-txt :hover {
        background-color: #ebebeb;
    
    
    }
  
    

/* footr part Inspiration for future getaways*/
.footer-container1{
    width:100vw;
     height:343px;
     
 
 }
 .title{
     
      width:1263px;
      height:34px;
     font-size:22px;
     font-weight:600;
     line-height:26px;
     margin-left: 80px;
     margin-top: 96px;
     
 }
 
 .footer-flex{
    
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 1263px;
    height:50px;
    width: 100%-160px;
    margin:30px 80px 0 80px;
    gap:8%;
    font-family: 'circular-light';
 
    
 }
 .footer-heading h3{
     font-size:14px;
     font-weight:500;
     line-height:18px;
 
 }
 .footer-heading a{
     color: black;
     text-decoration:none solid rgb(72,72,72);
     font-size:16px;
     line-height:24px;
   
     
 }

 /*------------------------------------footer---------------------*/
.footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
    margin:0 80px;
}
.footer{
    background-color:#F7F7F7;
	height: 399px;
}
.footer .footer-content ul{ 
        width: 279px;
        margin-top: 48px;
        list-style: none;

}
.footer .footer-content ul li a{
    height: 18px;
    line-height:2.6;
    color: black;
    font-size: 14px;
    font-family:'circular-light';
    text-decoration:none;

}
.footer .footer-content ul li :hover{
    text-decoration: underline;
    color: black;
}
.support .h1{
    font-family:circular-bold ;
    font-size: 14px; 
    color: black;
}
.community .h2{
    font-family: circular-bold;
    font-size:14px; 
    color: black;
}
.hosting .h3{
    font-family:'circular-bold';
    font-size: 14px; 
    color: black;
}
.about .h4{
    font-family:circular-bold ;
    font-size:14px; 
    color: black;
}
.footer .footer-content .support{
    padding-top: 2px;
    line-height: 24px;
    color: #000;
}
.footer .footer-content .community{
    padding-top: 2px;
    line-height: 24px;
    color: #000;

}
.footer .footer-content .hosting{
    padding-top: 2px;
    line-height: 24px;
    color: #000;

}
.footer .footer-content .about{
    padding-top: 2px;
    line-height: 24px;
    color: #000;

}
.footer hr{
    margin-top: 49px;
	margin: 0 80px;
	color: #757575;
}
.underfootr{
    margin: 0 80px;
}
.underfootr .privacy{
    margin-top: 24px;
    
    

}
.underfooter-list .privacy :hover{
    text-decoration: underline;
    color: black;
}
.underfooter-list .terms :hover{
    text-decoration: underline;
    color: black;
}
.underfooter-list .sitemap :hover{
    text-decoration: underline;
    color: black;
}

.underfooter-list ul{
    display: flex;
	justify-content: flex-start;
	align-items: center;
	
    list-style: none;

}
.underfooter-list ul li{
    margin-left: 7px;

}
.underfooter-list ul li a{
            color: black;
            font-size: 14px;
            text-decoration: none;
}
.underfooter-list .icons{
    margin-left:41%;
  
}
.underfooter-list .air{
    margin-left: 5%;
}
.underfooter-list .facebook{
    margin-left:65px ;
}
.underfooter-list .twitter{
    margin-left:25px;
}
.underfooter-list .instagram{
    margin-left:30px;
}
.underfooter-list .english {
    margin-left: 30px;
}
.underfooter-list .usd{
    margin-left: 8px;
}

                         
                 
    
         
         
           
        
 
 
 
 
 
