@font-face {
    font-family: circular-light;
    src: url(fonts/Circular-light.ttf);
}
@font-face {
    font-family: circular-bold;
    src: url(fonts/Circular-bold.ttf);
}
@font-face {
    font-family: circular-medium;
    src: url(fonts/Circular-medium.ttf);

}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: black;
    width:100vw;
    background-image: linear-gradient(black 50%, white 50%);
}
.header {
    background-color: black;
    width:100vw;
    /*height:200px;*/
    /*border:1px solid blue;*/
}
.logo {
    width:80px;
    /*border:1px solid red*/
    margin-top:2px;
}


.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /*border:5px solid green;*/
    width:calc(100%-160px);
    height:11vh;
    margin:0 80px 0 80px;
    color:white;
}
.mid-nav {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    /*border:1px solid red;*/
    width:30vw;
    margin-left:70px;

}
.mid-nav a{
    text-decoration: none;
    color:white;
    font-family: circular-light;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.right-nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    /*border:2px solid red;*/
    /*gap:1rem;*/
}
.right-nav a {
    color:white;
    text-decoration: none;
    font-family:circular-light;
    font-size:14px;
    line-height: 18px;
    /*border:1px solid red;*/
}


.globe {
    display:flex;
    justify-content:space-between;
    align-items: center;
    /*border:2px solid yellow;*/
    width:11vw;
    
}
#glo{
   /* font-size: 14px;*/
    /*border:1px solid red;*/
    margin-right: 1rem;
}
.custom-icon {
    display: flex;
    background:white;
    width:77px;
    height:42px;
    padding:3px;
    border-radius:21px;
    align-items: center;
    justify-content:space-around;
    /*border:1px solid red;*/
}
.custom-icon a {
    color:#717171;
    padding-left: 6px;
}
#user{
    margin-left:3px;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom:-8px;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left:49%;
    right: 49%;
  }
  

  .under{
      position:relative;
  }
  .under::after{
      content:"";
      background: white;
      width:15px;
      height:2px;
      position:absolute;
      left:45%;
      bottom:-8px;
      border-radius: 2px;
    

  }
  /* end of navbar css*/
  /*search-bar css*/
  
.search-bar {
    width:60%;
    background:white;
    border-radius:35px;
    /*border:2px solid red;*/
    margin:auto;
    padding-bottom:1px;
    
}
#pixel-p{
    margin-right:8px;
    margin-left: 20px;
    width:28%;
    

}
form {
    display:flex;
    align-items: center;
    justify-content:space-between;
}
input{
    background: transparent;
    border:0;
    display: block;
}

  
#lo{
    flex: 1;
    padding-left: 7px;
}
.search-col{
    /*border:2px solid blue;*/
    padding:7px;
    width:15%;
    margin-right: 14px;
    margin-bottom: 9px;
    margin-top:6px;

}
#pixel-2{
    margin-right: 0;
    margin-left: 0;
    padding-left:12px;
}
#pixel-3{
    padding-left:10px;

}
#pixel-4{
    padding-left: 14px;
    margin-left: -40px;

    
}
.search {
    width:50px;
    height:50px;
    border-radius: 50%;
    background:#ff385c;
    border:2px solid rgb(22, 21, 21);
    margin-left:9px;
    margin-right:9px;
    border:0;
    

}
#magni-icon{
    color:#fff;
    margin-left:16px;
}


/*button i {
    font-size: 12px;
    color:white;
}
    */

label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    font-family: circular-light;
}
input::placeholder {
    font-size:12px;
}

/* psudo element */
#lo{
    position:relative;
    
}

#lo::after{
      content:"";
      background:lightgrey;
      width:1px;
      height:25px;
      position:absolute;
      right:-300%;
      border-radius: 2px;
      bottom:-12px;

}
#pes2{
    position: relative;
}

#pes2::after{
    content:"";
    background:lightgrey;
    width:1px;
    height:25px;
    position:absolute;
    right:-190%;
    border-radius: 2px;
    bottom:-12px;


}
#pes3{
    position: relative;
}

#pes3::after{
    content:"";
    background:lightgrey;
    width:1px;
    height:25px;
    position:absolute;
    right:-150%;
    border-radius: 2px;
    bottom:-12px;
}
/*pink box */
.pink-box{
    display:flex;
    width:calc(100% - 160px);
    background:#ff385c;
    height:52vh;
    margin:0 80px 0 80px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top:65px;
}
.pink-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border:1px solid white;*/
    font-size: 48px;
    line-height: 54px;
    font-family: circular-bold;
    color:#f7f7f7;

    
}
.pink-text button{
    width:107px;
    height:36px;
    background: transparent;
    color:white;
    border-radius: 7px;
    color:white;
    font-size: 14px;
    font-family: circular-light;
    border:1px solid white;
    margin-top: 1rem;
    padding:0.5rem;
    font-weight: 400;
}
  
/* hero image*/

.content-heroimg{
    position:relative;
    width:calc(100% - 160px);
    margin:0 80px 0 80px;
    background-image:url(images/hero-House.jpg) ;
    /*border:2px solid blue;*/
    height:78vh;
    margin-top: 90px;
    margin-bottom: 45px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 15px;
}
.text-block{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom:70px;
    
}
.text-block h1{
    /*border:1px solid #fff;*/
    color:white;
    font-family: circular-bold;
    font-size: 48px;
    line-height: 54px;


    
}
.text-block button{
    width: 8rem;
    height:3rem;
    border:1px solid #fff;
    background:white;
    margin-top:1rem;
    font-size: 18px;
    line-height: 28px;
    font-family:circular-light;
    border-radius:25px;
    color:#bc1a6e;
    font-weight:bold;
}
.two-colored{
    display: flex;
    width:100%;
    border:2px solid blue;
    flex-direction: column;
    margin-top:30px;
}
.black{
    width:100%;
    height:50vh;
    background: black;

}
.white{
    width:100%;
    height:50vh;
    background: white;
}
/* 4 image inspiration*/

.picture-inspir{
    width:100%;
    height:38vw;
    background:white;
    margin-top:90px;
   /* border:3px solid black;*/
    

}
.title-inspir h3 {
    color:black;
    font-size: 42px;
    line-height: 47px;
    margin-bottom:2rem;
    padding-left: 5rem;
    background: white;
    font-family: circular-light;
    
}

.flex-container {
    display:flex;
    margin: 0 80px 0 80px;
    align-items: center;
    width:calc(100% - 160px);
    justify-content:space-evenly;
    gap:20px;
    cursor: pointer;
    
    
}
.flex-container .item {
    width:25%;
    height:27vw;
    background: darkgray;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
} 
     

.item img {
    width:100%;
    height:50%;
    border-radius: 15px 15px 0 0;

}
.item .box{
    width:100%;
    height:50%;
    border-radius: 0 0 15px 15px;
    color:white;
    padding:10px;
    
}
.item .box p {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: circular-bold;
}
.item .box a {
    text-decoration: none;
    font-size:20px;
    line-height:26px;
    color: white;
    font-family: circular-light;
    
}
#kilotext{
    font-size:17px;
    font-family: circular-light;
    line-height:15px;
}
 #pink  {

    background: #BC1A6E;
    
}

#red {
    background:#CC2D4A;
}
#orange {
    background: #D93B30;
}
#pinkish {
    background: #DE3151;
}


 /*   Discover Airbnb Experiences  */

 .picture-container{
 
    width:calc(100% - 160px);
    height:50vw;
    margin: 0 80px 0 80px;
    font-family:circular-light;
    position: relative;

}
.title {

    justify-content:center;
    font-size: 33px;
    font-weight:600;
    line-height:47px;
    left:80px;
    letter-spacing:-0.02em;
}
.flex-wrapper{
    
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100% ;
    position: absolute;
    gap:24px;

}
.flex-item {
   
    display: flex;
    flex-direction:column;
    position: relative;
    width:50%;
    height: 70vh;
    color:white;
   border-radius:13px;
   align-items:flex-start;
   justify-content:space-around;

}
#left-picture{
    background:url("images/experience1.jpg") no-repeat  left;
    position: relative;
    background-size:cover;
    top: 48px;
    width:591px;
    height:591px;;
}
#right-picture{
    background:url("images/experience2.jpg") no-repeat right;
    position: relative;
    background-size: cover;
    top:48px;
    width:591px;
    height:591px;;
}

.flex-item button{

    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 18px;
    line-height:20px;
    border-radius:8px;
    padding:8px 16px 8px 16px;
    margin-top:16px;
    cursor: pointer;
  
}
.flex-item #left{

    width: 140.11px;
    height:48px ;
   
}
.flex-item #right{
    width: 192.2px;
    height: 58px;

}
.flex-item p{
    font-size:41px;
    font-weight:600;
    letter-spacing:-0.02em;
    line-height:46px;
    position:absolute;
    white-space:pre-line;
    top:60px;
    left:60px;
    width: 229.81px;
    height:92px;
    
}

