@font-face {
    font-family: circular-light;
    src: url(fonts/Circular-light.ttf);
}
@font-face {
    font-family: circular-bold;
    src: url(fonts/Circular-bold.ttf);
}
@font-face {
    font-family: circular-medium;
    src: url(fonts/Circular-medium.ttf);

}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: black;
    width:100vw;
}
.header {
    background-color: black;
    width:100vw;
    /*height:200px;*/
    /*border:1px solid blue;*/
}
.logo {
    width:80px;
    /*border:1px solid red;*/
    margin-top:2px;
    

}
.nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /*border:5px solid green;*/
    width:calc(100%-160px);
    height:11vh;
    margin:0 80px 0 80px;
    color:white;
}
.mid-nav {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    /*border:1px solid red;*/
    width:25vw;
    margin-left:70px;

}
.mid-nav a{
    text-decoration: none;
    color:white;
    font-family: circular-light;
    font-size: 13px;
    line-height: 20px;
}
.right-nav {
    
    display:flex;
    justify-content: space-around;
    align-items: center;
    /*border:2px solid red;*/
    /*gap:1rem;*/
}
.right-nav a {
    color:white;
    text-decoration: none;
    font-family:circular-light;
    font-size:11px;
    line-height: 18px;
    /*border:1px solid red;*/
}


.globe {
    display:flex;
    justify-content:space-between;
    align-items: center;
    /*border:2px solid yellow;*/
    width:9vw;
    
}
#glo{
   /* font-size: 14px;*/
    /*border:1px solid red;*/
    margin-right: 1rem;
}
.custom-icon {
    display: flex;
    background:white;
    width:62px;
    height:34px;
    padding:3px;
    border-radius: 17px;
    align-items: center;
    justify-content:space-around;
    /*border:1px solid red;*/
}
.custom-icon a {
    color: #717171;
    padding-left: 6px;
}
#user{
    margin-left:3px;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom:-8px;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left:49%;
    right: 49%;
  }
  

  .under{
      position:relative;
  }
  .under::after{
      content:"";
      background: white;
      width:15px;
      height:2px;
      position:absolute;
      left:45%;
      bottom:-8px;
      border-radius: 2px;
    

  }
  /* end of navbar css*/
  /*search-bar css*/
  
.search-bar {
    width:50%;
    background:white;
    border-radius:30px;
    /*border:2px solid red;*/
    margin:auto;
    padding-bottom:1px;
    
}
#pixel-p{
    margin-right:8px;
    margin-left: 20px;
    width:28%;
    

}
form {
    display:flex;
    align-items: center;
    justify-content:space-between;
}
input{
    background: transparent;
    border:0;
    display: block;
}
input::placeholder {

    font-size:11px;;
  }
#lo{
    flex: 1;
    padding-left: 7px;
}
.search-col{
    /*border:2px solid blue;*/
    padding:7px;
    width:15%;
    margin-right: 14px;
    margin-bottom: 2px;

}
#pixel-2{
    margin-right: 0;
    margin-left: 0;
    padding-left:12px;
}
#pixel-3{
    padding-left:10px;

}
#pixel-4{
    padding-left: 14px;
    margin-left: -40px;

    
}
button{
    width:35px;
    height:35px;
    border-radius: 50%;
    background:#ff385c;

    border:2px solid whitesmoke;
    margin:7px;
    border:0;

}
button i {
    font-size: 12px;
    color:white;
}
label {
    font-size: 10px;
    line-height: 16px;
    font-weight: 600;
    font-family: circular-light;
}
/* psudo element */
#lo{
    position:relative;
    
}

#lo::after{
      content:"";
      background:lightgrey;
      width:1px;
      height:25px;
      position:absolute;
      right:-275%;
      border-radius: 2px;
      bottom:-12px;

}
#pes2{
    position: relative;
}

#pes2::after{
    content:"";
    background:lightgrey;
    width:1px;
    height:25px;
    position:absolute;
    right:-190%;
    border-radius: 2px;
    bottom:-12px;


}
#pes3{
    position: relative;
}

#pes3::after{
    content:"";
    background:lightgrey;
    width:1px;
    height:25px;
    position:absolute;
    right:-140%;
    border-radius: 2px;
    bottom:-12px;
}
/*pink box */
.pink-box{
    display:flex;
    width:calc(100% - 160px);
    background:#ff385c;
    height:52vh;
    margin:0 80px 0 80px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top:65px;
}
.pink-text{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border:1px solid white;*/
    font-size: 36px;
    font-family: circular-bold;
    color:white;
    font-weight: 400;
}
.pink-text button{
    width:5.5rem;
    height:2rem;
    background: transparent;
    color:white;
    border-radius: 7px;
    color:white;
    font-size: 12px;
    font-family: circular-light;
    border:1px solid white;
    margin-top: 1rem;
    padding:0.5rem;
    font-weight: 400;
}
  